/* Existing CSS styles remain unchanged */

.contact {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px #29d476d5;
    padding: 20px;
    margin-left: 100px;
    margin-right: 100px;
}

h2 {
    font-size: 2em;
    margin-bottom: 15px;
}

p {
    margin-bottom: 20px;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
    font-size: 1.5em;
}

a {
    text-decoration: none;
    color: #007bff;
}
